<form  class="form-container"#myForm="ngForm" (ngSubmit)="submitForm(myForm)">
  <div>
    <label for="username">Name</label>
    <input type="text" name="username" required [(ngModel)]="userdemo.username">
  </div>
  <button type="submit" >click</button>
</form>
 <!-- example of template driven form -->


<form class="form-container" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
  <div>
    <label for="name">Name:</label>
    <input type="text"
           name="name"
           [(ngModel)]="user" required>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email"
           name="email"
           [(ngModel)]="email" required/>
  </div>
  <div>
    <label for="country">Country:</label>
    <select name="select" [(ngModel)]="selectedCountry">
      <option *ngFor="let country of countries" [value]="country.value">{{country.name}}</option>
    </select>
  </div>
  <div>
    <label for="city">City:</label>
    <select name="city" [(ngModel)]="city">
      <option *ngFor="let city of getCitiesByCountry(selectedCountry)" [value]="city">{{city}}</option>
    </select>
  </div>
  <button type="submit">Submit</button>
  </form>

<app-templateform></app-templateform>



<app-reactive-from></app-reactive-from>
